    @page
    @using BusinessLogic.Classes
    @model MediaBazaarWeb.Pages.ScheduleModel
    @{
        ViewData["Title"] = "Schedule Page";
    }
    <head>
        <link rel="stylesheet" href="~/css/PageStyleSheet.css" asp-append-version="true" />
    </head>
    <body>
    <div class="container">
        <div class="btn-group" role="group" aria-label="View Options">
            <a class="btn btn-primary" asp-page="/Schedule" asp-route-view="two-week">Two Week View</a>
            <a class="btn btn-primary" asp-page="/Schedule" asp-route-view="one-week">One Week View</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dayStatus in Model.TwoWeeksSchedule)
                {
                    <tr>
                        <th scope="row">@dayStatus.Date.ToString("dd MMM")</th>
                        @for (int i = 0; i < 7; i++)
                        {
                            <td>
                                @foreach (var shift in dayStatus.Shifts.Where(s => ((int)s.Date.DayOfWeek + 6) % 7 == i))
                                {
                                    <div style="background-color:#90EE90">@ReturnShiftTypeByHours(shift)</div>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
        <a class="button" asp-page="/Availabilities">Change Availabilities</a>
        </div>
    </div>


    @functions{

        private string ReturnShiftTypeByHours(Shift shift)
        {
            string str;
            if( shift.Type == BusinessLogic.Enums.ShiftType.Morning)
            {
                str = "08:00-16:00";
            }
            else if (shift.Type == BusinessLogic.Enums.ShiftType.Afternoon)
            {
                str = "16:00-00:00";
            }
            else
            {
                str = "00:00-08:00";
            }
            return str;
        }
    }
    </body>